html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  background-color: #2e3233;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p,
h1 {
  color: #dae6e6;
}

h1 {
  color: var(--in-light, #dae6e6);
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 96px; /* 100% */
  letter-spacing: -1.92px;
}
p {
  margin: 0;
}

.flex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.text-align-center {
  text-align: center;
}

.hover:hover {
  cursor: pointer;
}

.cursor {
  width: 24px;
  height: 24px;
  background-color: #dae6e6;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 0;
    margin-bottom: 80px;
  }
  .cursor {
    display: none;
  }
}
